.loader-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 80vh; /* Set the height of the container to the viewport height */
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 198, 45, 1) 100%
  );
}
.custom-loader {
  width: 200px;
  height: 200px;
  display: grid;
  border:10px solid #0000;
  border-radius: 50%;
  border-right-color:#766DF4;
  animation: s5 1s infinite linear;
}
.custom-loader::before,
.custom-loader::after {    
  content:"";
  grid-area: 1/1;
  margin:4px;
  border:inherit;
  border-radius: 50%;
  animation: s5 2s infinite;
}
.custom-loader::after {
  margin:16px;
  animation-duration: 3s;
}

@keyframes s5{ 
  100%{transform: rotate(1turn)}
}